<template>
  <span>
    <a v-if="urlExist" :href="url" class="btn"><icon class="btn__icon" :name="icon" :label="text" spin></icon>{{text}}</a>
    <button v-else class="btn"><icon class="btn__icon" :name="icon" :label="text" pulse></icon>{{text}}</button>
  </span>
</template>
<script>
    import 'vue-awesome/icons'
    import Icon from 'vue-awesome/components/Icon'
    export default {
        name: 'btn',
        props: ['url', 'text', 'icon'],
        data(){
            return {
                urlExist: this.url !==''
            }
        },
        components: {Icon}   
    } 
</script>
<style scoped>
    .btn{
        border: 0;
        background-color: coral;
        display: inline-block;
        transition: all .2s ease-in-out;

    }
    .btn:focus, .btn--focus{
        background-color: chocolate;
        outline: none;
    }
    .btn:active, .btn--active{
        box-shadow: 0 0 6px seagreen;
    }
    .btn:hover, .btn--hover{
        box-shadow: 0 0 6px seagreen;
    }
    .btn__icon{
        margin: 0 6px 0 2px;
    }
</style>
