<template>
  <div class="dropdown" :class="'drop-' + id">
    <div class="dropdown__select" @click="showList = !showList">{{title}}</div>
    <div v-show="showList" class="dropdown__options-container">
        <div 
            v-for="(item, index) in list" 
            :key="index" 
            @click="checkDropdownListItem(item)"
            class="dropdown__option">
        {{item}}
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'dropdown',
  props: ['list', 'question'],
  data(){
      return {
          showList: false,
          id: this._uid,
          title: this.question
      }
  },
  mounted(){
    let vm = this;
    document.body.addEventListener('click', function(e){
        if (!e.target.parentNode.classList.contains('drop-' + vm.id)){
            vm.showList = false;   
        }
    });
  },
  methods:{
      checkDropdownListItem(item){
          this.showList = false;
          this.title = item;
          this.$emit('update:value', item);
      }
  }
}
</script>

<style scoped> 
    .dropdown *{
        box-sizing: border-box;
        cursor: default;
    }
    .dropdown{
        display: inline-block;
        position: relative;
        margin: 5px;
        min-width: 140px;
    }
    .dropdown__select{
        padding: 3px 18px;
        font-weight: bold;
        border: 1px solid #444;
    }
    .dropdown__options-container{
        position: absolute;
        top: 28px;
        left: 0;
        border: 1px solid #444;
        background-color: aliceblue;
        width: 100%;
        z-index: 1;
    }
    .dropdown__option{
        border-top: 1px solid #aaa;
        padding: 3px 6px;
        transition: all .3s linear;
    }
    .dropdown__option:hover{
        background-color: lightskyblue;
    }
    .dropdown__option:first-child{
        border-top: none;
    }
</style>
