<template>
<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar__header">header</div>
    <div class="sidebar__content" v-html="sidebarText">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure tempora ratione reiciendis molestias error inventore alias laborum eveniet ea accusamus doloremque architecto repellendus optio, quia qui dolor nesciunt in. Fugiat?
    </div>
    <div class="sidebar__footer">
      footer
      <button @click="addParagraphInSidebar" class="btn">Add Paragraph</button>
    </div>
  </div>
  <div class="content">
    <div class="navigation">
      Some content header
    </div>
    <div class="content-container">
      <div class="square-container">
        <div class="square">
          <img class="square__image" src="http://i.pravatar.cc/300" alt="">
        </div>
        <div class="square">
          <img class="square__image" src="http://www.lostateminor.com/wp-content/uploads/2016/01/Adam-Driver-cat-300x150.jpg" alt="">
        </div>
        <div class="square">
          <img class="square__image" src="http://avmur.ru/i/_thumbs/600x1200/phpdEWLSc.jpg" alt="">
        </div>
        <div class="square">
          <img class="square__image" src="https://cdn.tele2.ee/media/catalog/product/cache/5/image/150x300/17f82f742ffe127f42dca9de82fb58b1/g/a/galaxy_a3_black_eest.jpg" alt="">
        </div>
      </div>
      <div class="btn-container">
        <p>
          <div>Value 1: {{ddv1}}, Value 2: {{ddv2}}, Value 3: {{ddv3}}</div>
          <dropdown :value.sync="ddv1" :list="dropdownList" question="Select any option 1"></dropdown>
          <dropdown :value.sync="ddv2" :list="dropdownList" question="Select any option 2"></dropdown>
          <dropdown :value.sync="ddv3" :list="dropdownList" question="Select any option 3"></dropdown>
        <p>
        <btn text="Полный комплект" icon="refresh" url="http://ya.ru"></btn>
        <btn text="Без иконки" icon="" url="http://ya.ru"></btn>
        <btn text="Без url" icon="spinner" url=""></btn>
        <p>
          <button @click="addParagraphInContent" class="btn">Add Paragraph</button>
          <button @click="modalVisibility = !modalVisibility" class="btn">showModal</button>
        </p>
      </div>
      <div class="text-container" v-html="contentText"></div>
      <modal :show-modal.sync="modalVisibility"></modal> 
    </div>
    <div class="footer"><b>footer</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consequatur sit accusamus dolor quis iusto tenetur eum, ad, adipisci distinctio reiciendis rem, facere ab cumque voluptate atque. Nisi, doloremque rerum.</p></div>
  </div>
</div>

</template>

<script>
import btn from './button.vue';
import modal from './modal.vue';
import dropdown from './dropdown.vue';

export default {
  name: 'index',
  components: {btn, modal, dropdown},
  data(){
    return {
      modalVisibility: false,
      contentText: '',
      sidebarText: '',
      text: `
      <p>Кристаллический фундамент вразнобой дегустирует культурный бамбук, для этого необходим заграничный паспорт, действительный в течение трех месяцев с момента завершения поездки со свободной страницей для визы. Акцентируется не красота садовой дорожки, а ветеринарное свидетельство декларирует урбанистический двухпалатный парламент, при этом имейте в виду, что чаевые следует оговаривать заранее, так как в разных заведениях они могут сильно различаться. Португальская колонизация, как бы это ни казалось парадоксальным, перевозит Карибский бассейн, а высоко в горах встречаются очень редкие и красивые цветы - эдельвейсы. Несладкое слоеное тесто, переложенное соленым сыром под названием "сирене", отражает британский протекторат, а костюм и галстук надевают при посещении некоторых фешенебельных ресторанов. Месторождение каменного угля, в первом приближении, связывает распространенный Бенгальский залив, в начале века джентльмены могли ехать в них, не снимая цилиндра.
      Русло временного водотока непрерывно. Береговая линия недоступно входит различный официальный язык, хотя все знают, что Венгрия подарила миру таких великих композиторов как Ференц Лист, Бела Барток, Золтан Кодай, режиссеров Иштвана Сабо и Миклоша Янчо, поэта Шандора Пэтефи и художника Чонтвари. Склон Гиндукуша совершает субэкваториальный климат, и не надо забывать, что время здесь отстает от московского на 2 часа. Большая часть территории поднимает очаг многовекового орошаемого земледелия, ни для кого не секрет, что Болгария славится масличными розами, которые цветут по всей Казанлыкской долине. Для пользования телефоном-автоматом необходимы разменные монеты, однако кит надкусывает уличный особый вид куниц, туда же входят 39 графств, 6 метрополитенских графств и Большой Лондон.
      На завтрак англичане предпочитают овсяную кашу и кукурузные хлопья, тем не менее бамбук традиционен. Пустыня применяет экскурсионный бассейн нижнего Инда, а костюм и галстук надевают при посещении некоторых фешенебельных ресторанов. Древняя платформа с сильно разрушенными складчатыми образованиями выбирает различный расовый состав, хотя все знают, что Венгрия подарила миру таких великих композиторов как Ференц Лист, Бела Барток, Золтан Кодай, режиссеров Иштвана Сабо и Миклоша Янчо, поэта Шандора Пэтефи и художника Чонтвари. Независимое государство вызывает живописный особый вид куниц, а к мясу подают подливку, запеченные овощи и пикули.
      </p>`,
      dropdownList: ['one', 'two', 'three', 'four', 'five'],
      ddv1:'',
      ddv2:'',
      ddv3:'',
    }
  },
  methods: {
    addParagraphInContent(){
      this.contentText += this.text;
    },
    addParagraphInSidebar(){
      this.sidebarText += this.text;
    }
  }
}
</script>

<style>
.wrapper{
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sidebar{
  background-color: rgba(0, 0, 255,.3);
  width: 300px;
  max-width: 300px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  
}
.sidebar__header{
  align-self: flex-start;
  background-color: navajowhite;
  width: 100%;
}
.sidebar__content{
  align-self: stretch;
  overflow: auto;
  padding: 8px;
  flex: 1;
}
.sidebar__footer{
  align-self: flex-end;
  background-color: navajowhite;
  width: 100%;
}
.square-container{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(255, 0, 0,.1);
  box-sizing: border-box;
}
.square-container{
   flex:1;
}
.square{
  width: 15vw;
  height: 15vw;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: .5vw;
  min-width: 70px;
  min-height: 70px;
  margin: 2vw; 
}
.square__image{
  max-height: 100%;
  max-width: 100%;
}
.btn{
  margin: 20px;
  border: 0;
  border-radius: 6px;
  padding: 6px 15px;
  background-color: brown;
  color: #fff;
  cursor: pointer;
}
.text-container > p{
  background-color: rgba(0,0,0,.1);
  padding: 1%;
  font-size: .8em;
  margin: 1em 0;
  text-align: left;
}
.content{
  overflow: auto;
  padding: 0 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-container{
  align-self: stretch;
  flex: 1;
}
.footer{
  background-color: rgba(0,0,0,.2);
  align-self: flex-end;
  width: 100%;
}
.navigation{
  width: 100%;
}
@media screen and (max-width: 520px){
  .square{
    width: 40vw;
    height: 40vw;
    padding: 1.5vw;
  }
}
</style>
