<template>
<div class="modal" v-if="showModal">
  <div class="overlay" @click.prevent.stop="closeModal">

  </div>
  <div class="modal__container">
      <div class="modal__header">header
          <div class="modal__close" @click.prevent.stop="closeModal">CLOSE</div>
      </div>
      <div class="modal__content" v-html="modalText"></div>
      <div class="modal__footer">footer
          <p><button @click="addText">AddText</button></p>
      </div>
  </div>
</div>
</template>
<script>
    export default {
        name: 'modal', 
        props: ['showModal'],
        data(){
            return {
                modalText: '',
                text: '<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit dolor maxime aspernatur tempore. Sit quis fuga eius adipisci, culpa in laboriosam consequuntur numquam perspiciatis quasi sunt nemo ipsam molestiae voluptatem.</p>'
            }
        },
        methods: {
            closeModal(){
                this.$emit('update:showModal', false);
            },
            addText(){
                this.modalText += this.text;
            }
        },
        created(){
            this.modalText = this.text;
        }
    }
</script>
<style scoped>
    .modal *{
        box-sizing: border-box;
    }
    .overlay{
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 4;
    }
    .modal__container{
        position: absolute;
        top: 5vh;
        left: 20vw;
        z-index: 5;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        max-height: 90vh;
        width: 60vw;
        overflow: hidden;
    }
    .modal__content{
        border-bottom: 1px solid #444;
        border-top: 1px solid #444;
        overflow: auto;
        width: 100%;
        padding: 10px;
    }
    .modal__header{
        position: relative;
        width: 100%;
        padding: 10px;
        background-color: lightsalmon;
    }
    .modal__close{
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: crimson;
        color: #fff;
        cursor: pointer;
        padding: 2px;
        font-size: .6em;
        opacity: .7;
        transition: all .2s ease-in;
    }
    .modal__close:hover{
        opacity: 1;
    }
    .modal__footer{
        width: 100%;
        padding: 10px;
        background-color: lightsalmon;
    }

    @media screen and (max-width: 520px){
        .modal__container{
            width: 100vw;
            height: 100vh;
            max-height: 100vh;
            top: 0;
            left: 0;
            border-radius: 0;   
        }
        .modal__content{
            flex: 1;
        }
    }
</style>
